@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav .logo {
  font-size: 18px;
  font-weight: bold;
  color: yellow;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

.topnav a .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  background: transparent;
}

.dropdown:hover {
  background-color: #555;
  color: white;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content a {
  color: yellow;
  background-color: black;
}

.dropdown .dropdown-content {
  display: none;
  color: yellow;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown .dropdown-content a:hover {
  background: #ddd;
  color: red;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
  color: white;
}

.footer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  font-size: 16px;
  color: blue;
}

.footer a {
  float: left;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
  line-height: 12px;
  border-radius: 2px;
}

@media screen and (max-width: 500px) {
  .footer a {
    float: none;
    display: block;
    text-align: left;
  }
}

.footer .footer-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .footer .footer-right {
    float: none;
  }
}

h1 {
  font-size: 18px;
  color: red;
  text-transform: uppercase;
}

.pabout {
  font-size: 14px;
  line-height: 25px;
  color: blue;
}

.pabout p {
  color: green;
}

.pcontact {
  font-size: 14px;
  line-height: 25px;
  color: orange;
}

.pcontact p {
  color: brown;
}
